apps/pankajdemo01/src/main/mule/pankajdemo01.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="dc70e5d0-796a-4e88-a9ec-617a91d3967c" >
		<file:connection workingDir="C:\demo\input" />
	</file:config>
	<flow name="pankajdemo01Flow" doc:id="1d47be57-6897-4a93-809f-eba05efa13a1" >
		<file:listener doc:name="On New or Updated File" doc:id="71855ed8-1a66-4c5e-86c0-97d8565ba197" config-ref="File_Config" directory="C:\demo\input" moveToDirectory="C:\demo\output">
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="SECONDS" />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="b87908cf-5b50-4513-b8f1-4c30fddffe58" message="#[payload]"/>
	</flow>
</mule>
